<div class="app-header">
  <a class="brand" routerLink="/pages">
    <img height="30" src="assets/images/logo.svg" alt="" />
    <span style="color: #fff">{{appName}}</span>
  </a>

  <!--<ul class="nav">
    <li class="nav-item">
      <a href="javascript:;">快捷操作1</a>
    </li>
    <li class="nav-item">
      <a href="javascript:;">快捷操作2</a>
    </li>
    <li class="nav-item">
      <a href="javascript:;">快捷操作3</a>
    </li>
  </ul>-->

  <ul class="nav tools">
    <li class="nav-icon">
      <nz-badge [nzCount]="22">
        <i nz-icon nzType="bell" nzTheme="outline"></i>
      </nz-badge>
    </li>
    <li class="nav-icon">
      <i nz-icon nzType="message" nzTheme="outline"></i>
    </li>
    <li class="nav-icon" (click)="openSettingDrawer()">
      <i nz-icon nzType="setting" nzTheme="outline"></i>
    </li>
  </ul>

  <div class="user">
    <div nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'" class="user-name">
      <nz-avatar nzIcon="user"></nz-avatar>
      <span>{{utils.getJwtTokenClaim(jwtKvEnum.Username)}}，欢迎您！</span>
      <i nz-icon nzType="down" style="margin-left: 3px"></i>
    </div>
  </div>

  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item (click)="openUserCentre()">个人中心</li>
      <li nz-menu-item (click)="logout()">退出登录</li>
    </ul>
  </nz-dropdown-menu>
</div>

<nz-drawer class="setting-drawer" [nzClosable]="false" [nzVisible]="settingVisible" nzPlacement="right" nzTitle="系统设置" (nzOnClose)="closeSettingDrawer()">
  <div class="setting-drawer-slider">
    <h4>抽屉菜单</h4>
    <label nz-checkbox (ngModelChange)="asideChangeTheme($event)" [(ngModel)]="sliderMenuThemeChecked">dark 黑色</label>
  </div>
  <nz-divider></nz-divider>
  <div class="setting-drawer-theme">
    <h4>主题色调</h4>
    <nz-radio-group (ngModelChange)="changeTheme($event)" [(ngModel)]="themeRadioValue">
      <label nz-radio [nzValue]="themeEnum.Default">default 默认</label>
      <label nz-radio [nzValue]="themeEnum.Orange">orange 橙色</label>
      <label nz-radio [nzValue]="themeEnum.Turquoise">turquoise 蓝绿色</label>
    </nz-radio-group>
  </div>
</nz-drawer>
