<nz-card class="card-list" nzTitle="角色列表">
  <div class="card-list-action">
    <nz-input-group [nzSuffix]="suffixTemplate">
      <input type="text" nz-input [(ngModel)]="roleName" placeholder="角色名称"/>
    </nz-input-group>
    <button nz-button nzType="default" (click)="search(true)"><i nz-icon nzType="search"></i>查询</button>
    <button nz-button nzType="primary" (click)="addRole()"><i nz-icon nzType="plus"></i>新增</button>
    <button nz-button nzType="danger" (click)="delBatch()"><i nz-icon nzType="delete"></i>删除</button>
  </div>
  <div class="card-list-table">
    <nz-table
      #roleTable
      nzShowPagination
      nzShowSizeChanger
      nzBordered
      [nzFrontPagination]="false"
      [nzData]="listOfAllData"
      [nzLoading]="loading"
      [nzTotal]="total"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="search()"
      (nzPageSizeChange)="search(true)"
      (nzCurrentPageDataChange)="currentPageDataChange($event)"
    >
      <thead>
        <tr>
          <th
            nzShowCheckbox
            [(nzChecked)]="isAllDisplayDataChecked"
            [nzIndeterminate]="isIndeterminate"
            (nzCheckedChange)="checkAll($event)"
          ></th>
          <th nzWidth="30%" nzAlign="center">名称</th>
          <th nzWidth="30%" nzAlign="center">备注</th>
          <th nzWidth="20%" nzAlign="center"
              nzShowSort
          >
            创建时间
          </th>
          <th nzWidth="20%" nzAlign="center">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of roleTable['data']">
          <td
            nzShowCheckbox
            [(nzChecked)]="mapOfCheckedId[data.id]"
            [nzDisabled]="data.disabled"
            (nzCheckedChange)="refreshStatus()"
          ></td>
          <td nzAlign="center">{{ data.roleName }}</td>
          <td nzAlign="center">{{ data.description }}</td>
          <td nzAlign="center">{{ data.dateCreated }}</td>
          <td nzAlign="center">
            <a (click)="editRole(data.id)">编辑</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="delRoleSingle(data.id, data.roleName)">删除</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-card>

<ng-template #suffixTemplate
><i
  nz-icon
  nz-tooltip
  class="ant-input-clear-icon"
  nzTheme="fill"
  nzType="close-circle"
  *ngIf="roleName"
  (click)="roleName = null"
></i
></ng-template>

<!--新增、编辑角色-->
<nz-modal *ngIf="isShowDialog"
          [(nzVisible)]="isShowDialog"
          nzWidth="800"
          [nzTitle]="dialogType === 1 ? '新增' : '修改'"
          (nzOnCancel)="handleCancelDialog(dialogType)"
          (nzOnOk)="handleOkDialog(dialogType)"
          [nzOkLoading]="isAddOkLoading">

  <form nz-form [formGroup]="addOrEditForm">
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="roleName" nzRequired>名称</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24">
        <input nz-input id="roleName" formControlName="roleName" placeholder="角色名称"/>
        <nz-form-explain *ngIf="addOrEditForm.get('roleName')?.dirty && addOrEditForm.get('roleName')?.errors">角色名称不为空!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="roleDesc" nzRequired>备注</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24">
        <input nz-input id="roleDesc" formControlName="roleDesc"
               placeholder="备注"/>
        <nz-form-explain *ngIf="addOrEditForm.get('roleDesc')?.dirty && addOrEditForm.get('roleDesc')?.errors">备注不能为空!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </form>
  <div class="per">
    <div class="per-menu">
      <label><span>菜单授权:</span></label>
      <nz-tree  #nzTreeComponent class="per-menu-tree"
                [nzData]="nzTreeMenusData"
                nzCheckable
                [nzCheckedKeys]="checkedKeys"
                [nzExpandedKeys]="expandedKeys"
                [nzSelectedKeys]="checkedKeys"
                (nzClick)="nzTreeMenusClick($event)"
                (nzCheckBoxChange)="nzTreeMenusCheck($event)"
                (nzExpandChange)="nzTreeMenusCheck($event)"
      >
      </nz-tree>
    </div>

    <!--部门授权-->
    <div class="per-dept">
      <label><span>部门授权:</span></label>
      <nz-tree  class="per-dept-tree"
                [nzData]="deptList"
                nzCheckable
                [nzCheckedKeys]="deptCheckedKeys"
                [nzExpandedKeys]="deptExpandedKeys"
                [nzSelectedKeys]="deptCheckedKeys"
                (nzCheckBoxChange)="deptTreeCheckEvent($event)"
                (nzExpandChange)="deptTreeCheckEvent($event)"
      >
      </nz-tree>
    </div>
  </div>

</nz-modal>
