<nz-card class="card-list" nzTitle="权限列表">
  <div class="card-list-action">
    <nz-input-group [nzSuffix]="appNameSuffixTemplate">
      <input type="text" nz-input [(ngModel)]="permissionName" placeholder="权限名称名称"/>
    </nz-input-group>
    <button nz-button nzType="default" (click)="search(true)"><i nz-icon nzType="search"></i>查询</button>
    <button nz-button nzType="primary" (click)="addOrEditModalShow(1)"><i nz-icon nzType="plus"></i>新增</button>
    <button nz-button nzType="danger" (click)="del()"><i nz-icon nzType="delete"></i>删除</button>
  </div>

  <div class="card-list-table">
    <nz-table
      #table
      nzShowPagination
      nzShowSizeChanger
      nzBordered
      [nzFrontPagination]="false"
      [nzData]="listOfAllData"
      [nzLoading]="loading"
      [nzTotal]="total"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="search()"
      (nzPageSizeChange)="search(true)"
      (nzCurrentPageDataChange)="currentPageDataChange($event)"
    >
      <thead>
      <tr>
        <th
          nzShowCheckbox
          [(nzChecked)]="isAllDisplayDataChecked"
          [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event)"
        ></th>
        <th nzWidth="25%" nzAlign="center">权限名称</th>
        <th nzWidth="25%" nzAlign="center">描述</th>
        <th nzWidth="20%" nzAlign="center">添加人</th>
        <th nzWidth="20%" nzAlign="center"
            nzShowSort
        >
          创建时间
        </th>
        <th nzWidth="10%" nzAlign="center">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of table['data']">
        <td
          nzShowCheckbox
          [(nzChecked)]="mapOfCheckedId[data.id]"
          [nzDisabled]="data.disabled"
          (nzCheckedChange)="refreshStatus()"
        ></td>
        <td nzAlign="center">{{ data.permissionName }}</td>
        <td nzAlign="center">{{ data.description }}</td>
        <td nzAlign="center">{{data.operatorUserName}}</td>
        <td nzAlign="center">{{ data.dateCreated}}</td>
        <td nzAlign="center">
          <a (click)="edit(data.id)">编辑</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="setPermissionRoles(data.id)">分配角色</a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</nz-card>

<ng-template #appNameSuffixTemplate
><i
  nz-icon
  nz-tooltip
  class="ant-input-clear-icon"
  nzTheme="fill"
  nzType="close-circle"
  *ngIf="permissionName"
  (click)="permissionName = null"
></i
></ng-template>

<!--新增、编辑-->
<nz-modal *ngIf="isShowAddOrEditModal"
          [(nzVisible)]="isShowAddOrEditModal"
          nzWidth="800"
          [nzMaskClosable]="false"
          [nzTitle]="modalType === 1 ? '新增' : '修改'"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()"
          [nzOkLoading]="isModalOkLoading">

  <form nz-form [formGroup]="addOrEditForm">
    <!--引用名称-->
    <nz-form-item>
      <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired>名称</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="权限名称不能为空">
        <input nz-input id="permissionName" formControlName="permissionName" placeholder="权限名称（服务名:控制器名:方法名）：serviceName:user:save"/>
      </nz-form-control>
    </nz-form-item>
    <!--描述-->
    <nz-form-item>
      <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired>描述</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="描述不能为空">
        <textarea formControlName="description" nz-input rows="2" placeholder="描述,不超过500字"></textarea>
      </nz-form-control>
    </nz-form-item>

  </form>
</nz-modal>

<!--分配角色-->
<nz-modal *ngIf="isShowSetRoleModal"
          [(nzVisible)]="isShowSetRoleModal"
          nzWidth="800"
          [nzMaskClosable]="false"
          [nzTitle]="'分配角色'"
          (nzOnCancel)="handleSetRoleModalCancel()"
          (nzOnOk)="handleSetRoleModalOk()"
          [nzOkLoading]="isSetRoleModalOkLoading">

    <div class="list-action">
      <nz-input-group [nzSuffix]="suffixTemplate">
        <input type="text" nz-input [(ngModel)]="roleName" placeholder="角色名称"/>
      </nz-input-group>
      <button nz-button nzType="default" (click)="search(true)"><i nz-icon nzType="search"></i>查询</button>
    </div>
    <div class="list-table">
      <nz-table
        #roleTable
        nzShowPagination
        nzShowSizeChanger
        nzBordered
        [nzFrontPagination]="false"
        [nzData]="listOfAllData"
        [nzLoading]="loading"
        [nzTotal]="total"
        [(nzPageIndex)]="pageIndex"
        [(nzPageSize)]="pageSize"
        (nzPageIndexChange)="search()"
        (nzPageSizeChange)="search(true)"
        (nzCurrentPageDataChange)="currentPageDataChange($event)"
      >
        <thead>
        <tr>
          <th
            nzShowCheckbox
            [(nzChecked)]="isAllDisplayDataChecked"
            [nzIndeterminate]="isIndeterminate"
            (nzCheckedChange)="checkAll($event)"
          ></th>
          <th nzWidth="30%" nzAlign="center">名称</th>
          <th nzWidth="30%" nzAlign="center">备注</th>
          <th nzWidth="20%" nzAlign="center"
              nzShowSort
          >
            创建时间
          </th>
          <th nzWidth="20%" nzAlign="center">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of roleTable['data']">
          <td
            nzShowCheckbox
            [(nzChecked)]="mapOfCheckedId[data.id]"
            [nzDisabled]="data.disabled"
            (nzCheckedChange)="refreshStatus()"
          ></td>
          <td nzAlign="center">{{ data.roleName }}</td>
          <td nzAlign="center">{{ data.description }}</td>
          <td nzAlign="center">{{ data.dateCreated }}</td>
          <td nzAlign="center">
            <!--<a (click)="editRole(data.id)">编</a>
            <a (click)="delRoleSingle(data.id, data.roleName)">删除</a>-->
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>

  <ng-template #suffixTemplate
  ><i
    nz-icon
    nz-tooltip
    class="ant-input-clear-icon"
    nzTheme="fill"
    nzType="close-circle"
    *ngIf="roleName"
    (click)="roleName = null"
  ></i
  ></ng-template>
</nz-modal>
