<nz-card class="card-list" nzTitle="云存储配置列表">
  <div class="card-list-action">
    <button nz-button nzType="primary" (click)="storageConfig()"><i nz-icon nzType="cloud"></i>云存储配置</button>
    <button nz-button nzType="primary" (click)="uploadFile()"><i nz-icon nzType="upload"></i>上传文件</button>
    <button nz-button nzType="danger" (click)="delFile()"><i nz-icon nzType="delete"></i>删除</button>
  </div>
  <div class="card-list-table">
    <nz-table
      #storageTable
      nzShowPagination
      nzShowSizeChanger
      nzBordered
      [nzFrontPagination]="false"
      [nzData]="listOfAllData"
      [nzLoading]="loading"
      [nzTotal]="total"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="search()"
      (nzPageSizeChange)="search()"
      (nzCurrentPageDataChange)="currentPageDataChange($event)"
    >
      <thead>
        <tr>
          <th
            nzShowCheckbox
            [(nzChecked)]="isAllDisplayDataChecked"
            [nzIndeterminate]="isIndeterminate"
            (nzCheckedChange)="checkAll($event)"
          ></th>
          <th nzWidth="40%" nzAlign="center">URL地址</th>
          <th nzWidth="30%" nzAlign="center"
              nzShowSort
          >
            创建时间
          </th>
          <th nzWidth="30%" nzAlign="center">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of storageTable['data']">
          <td
            nzShowCheckbox
            [(nzChecked)]="mapOfCheckedId[data.id]"
            [nzDisabled]="data.disabled"
            (nzCheckedChange)="refreshStatus()"
          ></td>
          <td nzAlign="center">{{ data.url }}</td>
          <td nzAlign="center">{{ data.dateCreated }}</td>
          <td nzAlign="center">
            <a>预览</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-card>

<!--上传文件对话框-->
<nz-modal *ngIf="isShowUploadModal"
          [(nzVisible)]="isShowUploadModal"
          nzWidth="600"
          [nzMaskClosable]="false"
          [nzTitle]="'上传文件'"
          [nzFooter]="null"
          (nzOnCancel)="uploadModalCancel()">

  <nz-upload
    class="file-uploader"
    nzType="drag"
    [nzMultiple]="true"
    [nzLimit]="2"
    [nzName]="'file'"
    [nzData]="uploadFileData()"
    [nzAction]="uploadFileUrl"
    [nzBeforeUpload]="beforeUpload"
    (nzChange)="uploadFileHandleChange($event)"
  >
    <p class="ant-upload-drag-icon">
      <i nz-icon nzType="cloud-upload"></i>
    </p>
    <p class="ant-upload-text">点击或者拖拽文件到此处上传</p>
    <p class="ant-upload-hint">
      支持单个或者多个文件上传，文件大小不能超过300M
    </p>
  </nz-upload>

</nz-modal>

<!--文件服务器配置-->
<nz-modal *ngIf="isShowConfigModal"
          [(nzVisible)]="isShowConfigModal"
          nzWidth="800"
          [nzTitle]="'云存储配置'"
          (nzOnCancel)="configHandleCancel()"
          (nzOnOk)="configHandleOk()"
          [nzOkLoading]="isConfigOkLoading">

  <nz-radio-group [(ngModel)]="storageRadioValue"  (ngModelChange)="selectStorageConfigType($event)" class="storage-config-type">
    <label><span>类型</span></label>
    <label nz-radio nzValue="A">七牛云</label>
    <label nz-radio nzValue="B">阿里云</label>
    <label nz-radio nzValue="C">腾讯云</label>
    <label nz-radio nzValue="D">FastDFS</label>
  </nz-radio-group>
  <form nz-form [formGroup]="storageConfigForm">
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="url" nzRequired>域名</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="必填项不能为空">
        <input nz-input id="url" formControlName="url" placeholder="云存储域名"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="prefix">路径前缀</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24">
        <input nz-input id="prefix" formControlName="prefix" placeholder="不设置默认为空"/>
      </nz-form-control>
    </nz-form-item>

    <!--七牛云-->
    <div *ngIf="storageRadioValue === 'A'">
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="accessKey" nzRequired>AccessKey</nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="必填项不能为空">
          <input nz-input id="accessKey" formControlName="accessKey" placeholder="七牛AccessKey"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="secretKey" nzRequired>SecretKey</nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="必填项不能为空">
          <input nz-input id="secretKey" formControlName="secretKey" placeholder="七牛SecretKey"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="spaceName" nzRequired>空间名</nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="必填项不能为空">
          <input nz-input id="spaceName" formControlName="spaceName" placeholder="七牛存储空间名"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <!--阿里云-->
    <div *ngIf="storageRadioValue === 'B'">
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="endPoint" nzRequired>EndPoint</nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="必填项不能为空">
          <input nz-input id="endPoint" formControlName="endPoint" placeholder="阿里云EndPoint"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="accessKeyId" nzRequired>AccessKeyId</nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="必填项不能为空">
          <input nz-input id="accessKeyId" formControlName="accessKeyId" placeholder="阿里云AccessKeyId"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="accessKeySecret" nzRequired>AccessKeySecret</nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="必填项不能为空">
          <input nz-input id="accessKeySecret" formControlName="accessKeySecret" placeholder="阿里云AccessKeySecret"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="bucketName" nzRequired>BucketName</nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="必填项不能为空">
          <input nz-input id="bucketName" formControlName="bucketName" placeholder="阿里云BucketName"/>
        </nz-form-control>
      </nz-form-item>
    </div>

    <!--腾讯云-->
    <div *ngIf="storageRadioValue === 'C'">
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="appId" nzRequired>AppId</nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="必填项不能为空">
          <input nz-input id="appId" formControlName="appId" placeholder="腾讯云AppId"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="secretId" nzRequired>SecretId</nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="必填项不能为空">
          <input nz-input id="secretId" formControlName="secretId" placeholder="腾讯云SecretId"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="tSecretKey" nzRequired>SecretKey</nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="必填项不能为空">
          <input nz-input id="tSecretKey" formControlName="tSecretKey" placeholder="腾讯云SecretKey"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="tBucketName" nzRequired>BucketName</nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="必填项不能为空">
          <input nz-input id="tBucketName" formControlName="tBucketName" placeholder="腾讯云BucketName"/>
        </nz-form-control>
      </nz-form-item>
    </div>

    <!--FastDFS-->
    <div *ngIf="storageRadioValue === 'D'">

    </div>
  </form>

</nz-modal>



