<!--菜单列表-->
<nz-card class="card-list" nzTitle="协议模板参数管理" [nzExtra]="extraTemplate">
  <div class="card-list-action">
    <button nz-button nzType="default" (click)="refresh()"><i nz-icon nzType="search"></i>查询</button>
    <button nz-button nzType="primary" (click)="add()"><i nz-icon nzType="plus"></i>新增</button>
  </div>
  <!--列表-->
  <nz-table class="card-list-table" #expandTable
            [nzData]="listData"
            [nzShowPagination]="false"
            [(nzPageSize)]="pageSize"
            [nzLoading]="isListDataLoading" nzBordered>
    <thead>
    <tr>
      <th nzWidth="20%" nzAlign="center">中文名称</th>
      <th nzWidth="20%" nzAlign="center">参数名称</th>
      <th nzWidth="20%" nzAlign="center">原始名称</th>
      <th nzWidth="30%" nzAlign="center">描述</th>
      <th nzAlign="center">操作</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let data of expandTable['data']">
      <ng-container *ngFor="let item of listOfExpandedData[data.key]">
        <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
          <td nzAlign="center"
            [nzIndentSize]="item.level * 20"
            [nzShowExpand]="!!item.children"
            [(nzExpand)]="item.expand"
            (nzExpandChange)="collapse(listOfExpandedData[data.key], item, $event)"
          >
            {{ item.parNameCn }}
          </td>
          <td nzAlign="center">
            {{item.parName}}
          </td>
          <td  nzAlign="center">
            {{item.parNameDb}}
          </td>
          <td nzAlign="center">{{ item.parNameDesc }}</td>
          <td nzAlign="center">
            <a (click)="addForCurrent(item.id)">新增</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="edit(item.id)">修改</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="del(item.id, item.title)">删除</a>
          </td>
        </tr>
      </ng-container>
    </ng-container>
    </tbody>
  </nz-table>
</nz-card>
<ng-template #extraTemplate>
  <span style="cursor: pointer;" (click)="refresh()">
    <i nz-icon [nzType]="'sync'" [nzSpin]="isListDataLoading"></i><!--动态加载的，点击刷新的时候把false改成true-->
    <span style="margin-left: 5px;">刷新数据</span>
  </span>
</ng-template>

<!--新增菜单对话框-->
<nz-modal *ngIf="isShowAdd"
          [(nzVisible)]="isShowAdd"
          nzWidth="800"
          [nzTitle]="dialogType === 1 ? '新增' : '修改'"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()"
          [nzOkLoading]="isAddOkLoading">

  <form nz-form [formGroup]="addOrEditForm">
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="parNameCn" nzRequired>中文名称</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="必填项">
        <input nz-input id="parNameCn" formControlName="parNameCn" placeholder="参数中文名称"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="parentId" nzRequired>上级参数</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24">
        <nz-tree-select id="parentId" formControlName="parentId"
                        [nzNodes]="listData"
                        nzShowSearch
                        nzPlaceHolder="一级参数"
                        (ngModelChange)="onChange($event)">
        </nz-tree-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="parName" nzRequired>参数名称</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="必填项">
        <input nz-input id="parName" formControlName="parName" placeholder="参数字符串名称,体现在模板中"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="parNameDb" nzRequired>原始名称</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="必填项">
        <input nz-input id="parNameDb" formControlName="parNameDb" placeholder="数据表中字段名"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="parNameDesc">描述</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24">
        <input nz-input id="parNameDesc" formControlName="parNameDesc" placeholder="参数描述"/>
      </nz-form-control>
    </nz-form-item>
  </form>

</nz-modal>
