<nz-card class="card-list" nzTitle="融资产品类型管理">
  <div class="card-list-action">
    <nz-input-group [nzSuffix]="typeNameSuffixTemplate">
      <input type="text" nz-input [(ngModel)]="productTypeName" placeholder="融资产品类型名称"/>
    </nz-input-group>
    <button nz-button nzType="default" (click)="search(true)"><i nz-icon nzType="search"></i>查询</button>
    <button nz-button nzType="primary" (click)="add()"><i nz-icon nzType="plus"></i>新增</button>
  </div>
  <div class="card-list-table">
    <nz-table #nestedTable
              [nzLoading]="loading"
              [nzData]="vPdtTypeList"
              [nzPageSize]="pageSize"
    >
      <thead>
        <tr>
          <th></th>
          <th>类型名称</th>
          <th>类型编号</th>
          <th>是否显示</th>
          <th>排序</th>
          <th>类型描述</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="nestedTable.data">
          <tr>
            <td [(nzExpand)]="data.expand" (nzExpandChange)="expandChange($event, data.id)"></td>
            <td>{{ data.pdtTypeName }}</td>
            <td>{{ data.pdtTypeCode }}</td>
            <td>
              <nz-tag *ngIf="data.pdtTypeShow" [nzColor]="">显示</nz-tag>
              <nz-tag *ngIf="!data.pdtTypeShow"  [nzColor]="'#F6F6F6'" style="color: #505654; border-width: 1px;border-color: rgba(128,128,128,0.5);">不显示</nz-tag>
            </td>
            <td>{{ data.pdtTypeSort }}</td>
            <td>{{ data.pdtTypeDesc }}</td>
            <td>
              <a (click)="edit(data.id)">编辑</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="del(data.id)">删除</a>
            </td>
          </tr>
          <tr [nzExpand]="data.expand">
            <nz-table #innerTable [nzData]="data.templates" nzSize="middle" [nzShowPagination]="false">
              <thead>
                <tr>
                  <th>模板编码</th>
                  <th>合同名称</th>
                  <th>合同大类</th>
                  <th>合同类别</th>
                  <th>合同版别</th>
                  <th>版本号</th>
                  <th>所属企业</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of innerTable.data">
                  <td>{{ data.agrCode }}</td>
                  <td>{{ data.agrName }}</td>
                  <td>{{ data.agrBigTypeName }}</td>
                  <td>{{ data.agrTypeName }}</td>
                  <td>{{ data.agrSpecifyName }}</td>
                  <td>{{ data.agrVersion }}</td>
                  <td>{{ data.etpName }}</td>
                </tr>
              </tbody>
            </nz-table>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>
  </div>
</nz-card>

<ng-template #typeNameSuffixTemplate
><i
  nz-icon
  nz-tooltip
  class="ant-input-clear-icon"
  nzTheme="fill"
  nzType="close-circle"
  *ngIf="productTypeName"
  (click)="productTypeName = null"
></i
></ng-template>

<!--新增菜单对话框-->
<nz-modal [(nzVisible)]="isShowModal"
          nzMaskClosable=false
          nzWidth="800"
          [nzTitle]="dialogType === 1 ? '新增' : '修改'"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()"
          [nzOkLoading]="isOkLoading">

  <form nz-form [formGroup]="addOrEditForm">
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="pdtTypeName" nzRequired>产品类型名称</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="必填项">
        <input nz-input id="pdtTypeName" formControlName="pdtTypeName" placeholder="请输入类型名称"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="pdtTypeCode" nzRequired>产品类型编号</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="必填项">
        <input nz-input id="pdtTypeCode" formControlName="pdtTypeCode" placeholder="请输入类型编号"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="pdtTypeShow" nzRequired>是否显示</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24">
        <nz-select id="pdtTypeShow" formControlName="pdtTypeShow">
          <nz-option nzLabel="显示" [nzValue]="true"></nz-option>
          <nz-option nzLabel="不显示" [nzValue]="false"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="pdtTypeSort" nzRequired>排序</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="必填项">
        <nz-input-number id="pdtTypeSort" formControlName="pdtTypeSort" [nzMin]="0" [nzMax]="1000" [nzStep]="1"
                         style="width: 150px"></nz-input-number>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24">产品类型描述</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24">
        <input nz-input id="pdtTypeDesc" formControlName="pdtTypeDesc" placeholder="请输入描述"/>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
