<nz-card class="card-list" nzTitle="应用列表">
  <div class="card-list-action">
    <nz-input-group [nzSuffix]="appNameSuffixTemplate">
      <input type="text" nz-input [(ngModel)]="appName" placeholder="应用名称"/>
    </nz-input-group>
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="应用类型" [(ngModel)]="appType" style="min-width: 200px">
      <nz-option [nzLabel]="'内部系统'" [nzValue]="0"></nz-option>
      <nz-option [nzLabel]="'对外开放系统'" [nzValue]="1"></nz-option>
    </nz-select>
    <button nz-button nzType="default" (click)="search(true)"><i nz-icon nzType="search"></i>查询</button>
    <button nz-button nzType="primary" (click)="addModalShow()"><i nz-icon nzType="plus"></i>新增</button>
    <button nz-button nzType="danger" (click)="delApp()"><i nz-icon nzType="delete"></i>删除</button>
  </div>

  <div class="card-list-table">
    <nz-table
      #table
      nzShowPagination
      nzShowSizeChanger
      nzBordered
      [nzFrontPagination]="false"
      [nzData]="listOfAllData"
      [nzLoading]="loading"
      [nzTotal]="total"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="search()"
      (nzPageSizeChange)="search(true)"
      (nzCurrentPageDataChange)="currentPageDataChange($event)"
    >
      <thead>
      <tr>
        <th
          nzShowCheckbox
          [(nzChecked)]="isAllDisplayDataChecked"
          [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event)"
        ></th>
        <th nzWidth="12%" nzAlign="center">应用名称</th>
        <th nzWidth="12%" nzAlign="center">应用类型</th>
        <th nzWidth="12%" nzAlign="center">应用ID（appId）</th>
        <th nzWidth="12%" nzAlign="center">应用密钥（appSecret）</th>
        <th nzWidth="12%" nzAlign="center">状态</th>
        <th nzWidth="12%" nzAlign="center">应用描述</th>
        <th nzWidth="12%" nzAlign="center"
            nzShowSort
        >
          创建时间
        </th>
        <th nzWidth="16%" nzAlign="center">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of table['data']">
        <td
          nzShowCheckbox
          [(nzChecked)]="mapOfCheckedId[data.id]"
          [nzDisabled]="data.disabled"
          (nzCheckedChange)="refreshStatus()"
        ></td>
        <td nzAlign="center">{{ data.appName }}</td>
        <td nzAlign="center">{{data.appTypeName}}</td>
        <td nzAlign="center">{{ data.appId }}</td>
        <td nzAlign="center">{{ data.appSecret }}</td>
        <td nzAlign="center">{{ data.checkStatusName }}</td>
        <td nzAlign="center">{{ data.description }}</td>
        <td nzAlign="center">{{ data.dateCreated}}</td>
        <td nzAlign="center">
          <a (click)="editApp(data.appId)">编辑</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="delApp(data.id)">删除</a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>

</nz-card>

<ng-template #appNameSuffixTemplate
><i
  nz-icon
  nz-tooltip
  class="ant-input-clear-icon"
  nzTheme="fill"
  nzType="close-circle"
  *ngIf="appName"
  (click)="appName = null"
></i
></ng-template>

<!--新增、编辑-->
<nz-modal *ngIf="isShowAddOrEditModal"
          [(nzVisible)]="isShowAddOrEditModal"
          nzWidth="800"
          [nzMaskClosable]="false"
          [nzTitle]="modalType === 1 ? '新增' : '修改'"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()"
          [nzOkLoading]="isModalOkLoading">

  <form nz-form [formGroup]="addOrEditForm">
    <!--引用名称-->
    <nz-form-item>
      <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="appName" nzRequired>名称</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24">
        <input nz-input id="appName" formControlName="appName" placeholder="应用名称"/>
        <nz-form-explain *ngIf="addOrEditForm.get('appName')?.dirty && addOrEditForm.get('appName')?.errors">应用名称不为空!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <!--应用类别-->
    <nz-form-item>
      <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired>类别</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24">
        <nz-radio-group formControlName="appType" (ngModelChange)="appTypeSelectEvent($event)" [nzDisabled]="modalType === 2 ? true : false">
          <label nz-radio nzValue="0">内部系统</label>
          <label nz-radio nzValue="1">外部系统</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    <!--用户列表-->
    <nz-form-item *ngIf="addOrEditForm.value.appType === '1' && modalType === 1">
      <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired>用户</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="所属用户不能为空">
        <nz-select
          id="owner"
          formControlName="owner"
          nzShowSearch
          nzServerSearch
          [(ngModel)]="userSelectedValue"
          [nzShowArrow]="false"
          [nzFilterOption]="nzFilterOption"
          (nzOnSearch)="searchUser($event)"
          nzPlaceHolder="搜索用户并选择"
        >
          <nz-option *ngFor="let o of userListOfOption" [nzLabel]="o.text" [nzValue]="o.value"> </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <!--描述-->
    <nz-form-item>
      <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired>描述</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="描述不能为空">
        <textarea formControlName="description" nz-input rows="2" placeholder="描述,不超过200字"></textarea>
      </nz-form-control>
    </nz-form-item>

  </form>

</nz-modal>
