@import "src/assets/styles/ng-zorro.less";

// -------- Colors -----------
@primary-color : #17B3A3;
//@info-color : @blue-6;
//@success-color : @green-6;
//@processing-color : @blue-6;
//@error-color : @red-6;
//@highlight-color : @red-6;
//@warning-color : @gold-6;
//@normal-color : #d9d9d9;

// Tag
// --
@tag-default-bg: #E8F7F6;
@tag-default-color: #17B3A3;
@tag-font-size: @font-size-sm;

.text-default-color {
  color: @primary-color;
}

.app-header {
  background: #17B3A3
}

.app-aside {
  background: @menu-dark-bg;
}

// tabs

// -------------------- 带垂直边距的标题样式 -------------- //
.info-line-title {
  font-size: 16px;
  padding-bottom: 14px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #E8E8E8;

  &>nz-divider {
    width: 4px;
    background: @primary-color;
    height: 18px;
    margin-left: 0px;
  }
}
