@import "./src/assets/styles/ng-zorro.less";

// Tag
// --
@tag-default-bg: #ecf5ff;
@tag-default-color: @primary-color;;
@tag-font-size: @font-size-sm;

.app-header {
  background: @primary-color;
}

.app-aside {
  background: @menu-dark-bg;
}

