<div class="app-body">
  <div class="tab-navigation">
    <nz-tabset [nzType]="'card'" [nzSize]="'small'" [(nzSelectedIndex)]="currentMenuTab" (nzSelectedIndexChange)="showMenuLinkByTabName()" [nzTabBarExtraContent]="extraTemplate">
      <nz-tab *ngFor="let tab of menuTabs" [nzTitle]="titleTemplate">
        <ng-template #titleTemplate>
          <div>
            {{ tab }}
            <i nz-icon nzType="close" (click)="closeTab(tab)" class="ant-tabs-close-x"></i>
          </div>
        </ng-template>
      </nz-tab>
    </nz-tabset>
    <ng-template #extraTemplate>
      <i class="ant-tabs-new-tab" nz-icon nzType="plus"></i>
    </ng-template>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
